<!DOCTYPE html>
<html>
    <head>
        <title>facStu</title>
    </head>
    <body class="a">
        <center>
            <form method = "GET" action="signupSubmit2">
                <h2>faculty Signup</h2><br><br>
                Name : <input type="text" name="user"><br><br>
                department id:
                <select name="id" required>
                    <option value="">--please choose an option</option>
                    <option value="05">05</option>
                    <option value="66">66</option>
                    <option value="12">12</option>
                    <option value="04">04</option>
                    <option value="02">02</option>
                </select><br><br>
                Phone : <input type="number" name="phone" ><br><br>
                Address: <input type="text" name="add" ><br><br>
                Email : <input type="text" name="email" required><br><br>
                Password: <input type="password" name="pass" required><br><br>
                <input type="submit">
            </form>
        </center>
    </body>
</html> 
