<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BVRITH</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
        *{
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            text-decoration: none;
             box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: url("https://img.freepik.com/free-vector/student-with-laptop-studying-online-course_74855-5293.jpg?w=1380&t=st=1670065790~exp=1670066390~hmac=8ec413ed20c45abbf1e9d9aaca4ee8ea6a16bf10a2e0ce797cb71eb515f8ed4a");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border:2px solid black;
            padding-bottom: 25%;
        }
        .main{
            position: relative;
            height: 12%;
            width: 100%;
            margin-top: 2px;
            border-radius: 10px;
            padding: 0.1rem 0.2rem 2rem 0.5rem;
            background: rgb(0, 71, 171)
            
        }
        .h{
            margin-left: 30%;
            font-size: 35px;
            margin-top:-8px;
        }
        .btn{
            background-color: rgb(0, 71, 171);
            border-radius: 15px;
            padding: 10px 20px 10px 20px;
            font-size: 20px;
            color: #c9d9f5;
            margin-left: 5%;
        }

        .btn:hover{
            background: rgb(77, 134, 203);
        }
        .btn:active{
            background: rgb(0, 71, 171)
        }
    </style>
    </head>
    <body >
        <div class="main">
            <h1 align="center" style="color: #c9d9f5" >&nbsp; BVRIT HYDERABAD College of Engineering For Women</h1>
            <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPxs-8q1ugbqzOBX4ip7z_6SXZ0YL10JjMThuYZshQfg&s" height="100px" width="120px" style="margin-top:-50px;"> 
        </div>
        <h2 class="h">Welcome to BVRIT-H Grievance portal</h2>
        <br><br>
        <div align="left" class="b">
            <br><br>
            <form method="GET" action="login">
                <button class="btn">LOGIN</button>
                <br><br>
            </form>
            <form method="GET" action="signup">
                <button class="btn">SIGN UP</button>
            </form>
        </div>   
    </body>
</html>
