<html>
    <head>
        <title>message</title>
        <style>
             body{
                background-color: powderblue;
             }
        </style>
    </head>
    <body>
        <center>
            <h2><%= data[0]%></h2>
            <a href="/">Link to home-page</a>
        </center>
    </body>
</html>
